<footer class="footer">
  <div class="footer-pic position-relative">
    <div class="container">
      <div class="d-flex align-items-end" style="min-height: 400px;">
        <div class="send-news mb-6">
          <p class="text-white fs-2">
            想收到最新消息嗎？<br />
            快訂閱我們！
          </p>
          <div class="col-md-4">
            <div class="input-group" style="min-width: 300px;">
              <input
                type="email"
                class="form-control"
                placeholder="輸入您的電子信箱"
                aria-label="輸入您的電子信箱"
                aria-describedby="basic-addon2"
              />
              <a href="#" class="btn btn-secondary px-5">訂閱</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-flex align-items-center justify-content-between">
    <ul class="nav align-items-center">
      <li class="nav-item">
        <span
          class="nav-link active fs-4 pb-0 pb-md-2"
          aria-current="page"
          href="#"
          >EXHIBINECTION</span
        >
      </li>
      <li class="nav-item">
        <span class="nav-link pt-0 pt-md-2" href="#"
          >© 2020. All Rights Reserved.</span
        >
      </li>
    </ul>
    <ul class="nav d-none d-md-flex">
      <li class="nav-item">
        <a class="nav-link text-muted" aria-current="page" href="#">Sign in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-muted" href="#">Sign up</a>
      </li>
    </ul>
  </div>
</footer>
