.index {
  &__header {
    background: url("https://images.unsplash.com/photo-1506846540181-347008948fff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1493&q=80")
      center / cover;
    .row {
      min-height: 480px;
    }
    @include media-breakpoint-down(sm) {
      .item {
        position: absolute;
        bottom: 80px;
      }
    }
  }
  // 熱門特展
  &__content {
    .special-pic {
      max-width: 350px;
      min-height: 350px;
      object-fit: cover;
      @include media-breakpoint-down(md) {
        max-width: 100%;
      }
    }

    // 直播回顧
    .live-detail {
      background: #190014cc;
      min-height: 482px;
    }
    .live-bg-all {
      background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/people2.png?raw=true")
        center / cover;
    }
  }
}

.offcanvas-body::-webkit-scrollbar {
  width: 2px;
}

.offcanvas-body::-webkit-scrollbar-track {
  background: white;
}

.offcanvas-body::-webkit-scrollbar-thumb {
  background: $secondary;
}

.guess {
  .swiper-slide {
    width: 350px;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  .card-img-top {
    // min-width: 350px;
    height: 345px;
    // @include media-breakpoint-down(md) {
    //   width: 100%;
    // }
  }
}

.footer-pic {
  background: url("https://images.unsplash.com/photo-1536768767433-cc552f38def9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")
    center / cover;
  min-height: 400px;
}
.footer {
  margin-top: 60px;
  @include media-breakpoint-down(md) {
    margin-top: 24px;
  }
}
