.detail.top {
  margin-top: 80px;
  @include media-breakpoint-down(lg) {
    margin-top: 44px;
  }
  .detail-pic {
    max-height: 256px;
  }
  .card-side {
    min-height: 256px;
  }
}

// 票種
.ticket-class {
  .nav-link {
    border-bottom: 1px solid transparent;
  }
  .nav-link:hover,
  .active .nav-link {
    border-bottom: 1px solid $secondary;
  }
}
