.product {
  img {
    max-height: 285px;
  }
  .row {
    padding-top: 80px;
    padding-bottom: 52px;
    min-height: 417px;
    @include media-breakpoint-down(lg) {
      padding-top: 60px;
      padding-bottom: 32px;
      min-height: 350px;
    }
    @include media-breakpoint-down(md) {
      padding-top: 44px;
      padding-bottom: 44px;
    }
  }
}
